:root {
    --main-bg-color: #000000 ;
  }

.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 3px 8px;
    cursor: pointer;
    color: black;
    background: white;
    border: black;
    border-radius: 3px;
    
   
}

.my-1{
    margin: 2px 12px 0 0;
}

.my-2{
    margin: 6px 0px;
}

.text-center{
    text-align: center;
}